@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eff7fa;
}

body {
	background: linear-gradient(-45deg, #fdf0f2, #fadadd, #f7c4c8, #f4adb4);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  box-shadow: 10px 10px 5px #cccccc;
}

#header-username {
  font-size: 40px;
  text-shadow: 2px 2px 5px #fadadd;
}

#logo {
  font-family: 'Lobster', cursive;
  margin-left: 10%;
  text-shadow: 2px 2px 5px #ec8080;
  font-size: 50px;
}

#user-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-bar-flex-container {
  display: flex;
}

#search-bar {
  text-align: center;
}

#trek-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.trek-list {
  margin-left: 10%;
}

.button {
  background: #223a5e;
  color: #FFFFFF;
  box-shadow: 2px 3px 5px #fadadd;
}

#flex-header-container{
  display: flex;
  justify-content: space-between;
}

#logout-button{
  margin-top: 3%;
  margin-right: 10%;
}

#add_button {
  margin-left: 10%;
}

#list-flex-container {
  display: flex;
  justify-content: flex-start;
}

#plus {
  color: black;
  font-size: 30px;
}

#flex-logo-container{
  display:flex;
}

#flex-button-container {
  display:flex;
}


#flag-banner {
  text-align: center;
  font-size: 40px;
}

#link{
  color: black;
}

#dropdown-box {
  width: 250px;
  text-align: center;
}

#flex-search-country-container{

  display:flex;
  justify-content: center;
  margin-top: 7%;

}

#travel-info {
  text-align: center;
}

#country-header {

  font-size: 45px;
  margin-top: 5%;
}