@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  margin: 0;
  font-family: 'Architects Daughter', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EDC7B7;
}

body {
	/* background: linear-gradient(-45deg, #fdf0f2, #fadadd, #f7c4c8, #f4adb4); */
	background-size: 400% 400%;
	/* animation: gradient 15s ease infinite; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logo {
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 5px #ec8080;
  font-size: 50px;
  color: #EEE2DC;
}

#user-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-bar-flex-container {
  display: flex;
}

#search-bar {
  text-align: center;
}

#trek-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.trek-list {
  margin-left: 10%;
}


#flex-header-container{
  display: flex;
  justify-content: space-around;
}

#logout-button{
  margin-top: 3%;
  margin-right: 10%;
}

#add_button {
  margin-left: 10%;
}

#list-flex-container {
  display: flex;
  justify-content: flex-start;
}

#plus {
  color: black;
  font-size: 30px;
}

#flex-logo-container{
  display:flex;
}

#flex-button-container {
  display:flex;
}


#flag-banner {
  text-align: center;
  font-size: 40px;
}

#link{
  color: black;
}

#dropdown-box {
  width: 250px;
  text-align: center;
}

#flex-search-country-container{

  display:flex;
  justify-content: center;
  margin-top: 7%;

}

#travel-info {
  text-align: center;
}

#country-header {

  font-size: 65px;
  margin-top: 5%;
  font-family: 'Permanent Marker', cursive;
}

#trek-details {
  text-align: center;
  background-color: #123C69;
  color: #EEE2DC;
  width: 50%;
  margin: auto;
}

#nav-bar {
  background: #4056A1; 
  color: #EFE2BA;

}

#flex-link-container {
  display: flex;
  align-items: center;
  font-size: 25px;
  justify-content: center;

}

#nav-link {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  color: #AC3B61;
}

#nav-link:hover {
  font-size: 30px;
  color: #BAB2B5;
}

#accordion {
  margin: auto;
  width: 50%;
}

#center-header {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Architects Daughter', cursive;
}

#flex-covid-container {
  display: flex;
  justify-content: space-evenly;
}

.covid-cases {
  background-color: #123C69;
  color: #EEE2DC;
  padding: 30px 30px 30px 30px;
  box-shadow: 10px 10px 5px #cccccc;
}

#login-form {
  width: 400px;
  margin: auto;
}

#trek-detail-header{
  
  font-family: 'Permanent Marker', cursive;
  font-size: 65px;

}

#trek-details-1 {
  text-align: center;
}

.detail-granular {
  text-align: left;
  
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-16 21:0:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.scale-up-bl {
	-webkit-animation: scale-up-bl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-bl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
}

#safety-info{
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  margin-top: 5%;
}
